@charset "UTF-8";
@font-face {
    font-family: '여기어때 잘난체 OTF';
    font-style: normal;
    font-weight: 400;
    src: url('JalnanOTF.otf');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body,html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

.title_box {
    width: 30vw;
    height: 40vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.title_img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.title_img img {
    width: 100%;
}

.title {
    width: 100%;
    position: fixed;
    top: 2vw;
    left: 2vw;
    color: #000000;
    line-height: 1.7;
}

.title h1 {
    font-size: 1.6vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
}


.body_notice {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    z-index: 1;
}

.body_notice h4 {
    font-size: 1vw;
    color:tomato;
    font-family: sans-serif;
}


.navi_box {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    transition: 1200s;
    transition-timing-function: linear;
}

.navi_box div {
    font-family: '여기어때 잘난체 OTF',sans-serif;
}

.navi_box .big_box {
    width: 9vw;
    height: 9vw;
    line-height: 9vw;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index: 999;
    transition: 1200s;
    transition-timing-function: linear;
    font-size: 1.4vw;
    color: #ffffff;
    cursor: pointer;
}

.navi_box .tiny_box {
    width: 5vw;
    height: 5vw;
    line-height: 3vw;
    border-radius: 50%;
    text-align: center;
    position: absolute;
}


.navi_box .works {
    left: 0;
    right: 0;
    top: 1vw;
    margin: auto;
    background-color: tomato;
}

.tiny_box1 {
    left: 37vw;
    right: 0;
    top: 17vw;
    margin: auto;
    background-color: indigo;
}

.navi_box .aboutme {
    left: 0;
    left: 11.2vw;
    bottom: 7vw;
    margin: auto;
    background-color: yellowgreen;
}

.tiny_box2 {
    left: 0;
    right: 37vw;
    top: 17vw;
    margin: auto;
    background-color: palevioletred;
}

.navi_box .contact {
    left: 0;
    right: -28vw;
    bottom: 7vw;
    margin: auto;
    background-color: orange;
}

.tiny_box3 {
    left: 0;
    right: 0;
    bottom: 5vw;
    margin: auto;
    background-color: maroon;
}

/*  */

.popup_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}

.popup {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    overflow: hidden;
    z-index: 3;
}

.popup_slide {
    width: 700%;
    height: 72%;
    position: absolute;
    left: 0;
}

.popup_slide li {
    width: 14.2857142857%;
    height: 100%;
    float: left;
}

.popup_works {
    border: 20px solid tomato;
    border-left: none;
    border-right: none;
}

.popup h1 {
    font-size: 3vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
    margin-top: 3vh;
    color:tomato;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 2.5vh;
    padding-left: 2vw;
}

.popup_image {
    width: 30vw;
    height: 20vw;
    float: left;
    margin-left: 2vw;
    margin-top: 12vh;
    border-radius: 20px;
}

.popup_textbox {
    width: 40vw;
    height: 45vh;
    float: right;
    margin-right: 2vw;
    margin-top: 7.5vh;
    padding: 1vw;
    position: relative;
}

.popup_textbox h2 {
    font-size: 2vw;
    float: left;
    font-family: '여기어때 잘난체 OTF',sans-serif;
}

.popup_textbox a {
    float: left;
    margin-left: 2vw;
    width: 10vw;
    height: 2.2vw;
    line-height: 2.2vw;
    font-size: 1vw;
    color: #000;
    font-weight: 900;
    border: 2px solid #000;
    border-radius: 50px;
    background-color: transparent;
    text-align: center;
    transition:0.3s;
}

.popup_textbox a:hover {
    color: #ffffff;
    background-color: #000000;
    transform: scale(1.1);
}



.popup_textbox p {
    clear: both;
    margin-top: 10vh;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.2vw;
}

.text_notice {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
}

.popup_textbox h5 {
    font-size: 1vw;
    color: tomato;
    font-family: sans-serif;
}

.popup_textbox h6 {
    margin-top: 2vh;
    font-size: 1vw;
    color:tomato;
    font-family: sans-serif;
}


.popup_close {
    width: 15vw;
    color: #000;
    font-size: 1vw;
    font-weight: 900;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 1vw;
    left: 0;
    right: 0;
    margin: auto;
    transition:0.2s;
}

.popup_close:hover {
    background-color: #000;
    color: #fff;
}

.popup_close:focus {
    outline:none;
}

.popup_page {
    width: 8vw;
    height: 2.5vw;
    line-height: 2.75vw;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 2vw;
    text-align: center;
}

.popup_left_bt {
    width: 30%;
    float: left;
    border: none;
    background-color: transparent;
    font-size: 2vw;
    color: tomato;
}

.popup_right_bt {
    width: 30%;
    float: right;
    border: none;
    background-color: transparent;
    font-size: 2vw;
    color: tomato;
}

.popup_page p {
    width: 2.5vw;
    font-weight: 900;
    text-align: center;
}

.popup_page button:active {
    color: #000000;
}

.popup_page button:focus {
    outline: none;
}

/*  */

.popup_aboutme {
    border: 20px solid yellowgreen;
    border-left: none;
    border-right: none;
}

.popup_aboutme h1 {
    color: yellowgreen;
}

.popup_aboutme a {
    padding: 0.5vw 2vw;
    border-radius: 1000px;
    float: right;
    margin-right: 2vw;
    background-color: yellowgreen;
    color: #ffffff;
    transition: 0.3s;
    font-size: 1.2vw;
    font-family: sans-serif;
}

.popup_aboutme a:hover {
    background-color: seagreen;
    font-size: 1.3vw;
}


.popup_aboutme_license {
    width: 30%;
    float: left;
    margin-left: 7%;
    margin-top: 7vh;
}

.popup_aboutme_license li {
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
}

.popup_aboutme_license li:nth-child(1) {
    font-size: 1.5vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
    margin-bottom: 3vw;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #999;
    padding-bottom: 1vh;
}

.popup_aboutme_license li:nth-child(1) h2 span {
    color: yellowgreen;
    font-size: 3vw;
    padding-left: 1vw;
}

.popup_aboutme_license li h5 {
    font-size: 1.4vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
}

.popup_aboutme_license li p {
    font-size: 1vw;
}

.popup_aboutme_skills {
    width: 50%;
    float: right;
    margin-right: 7%;
    margin-top: 7vh;
}

.popup_aboutme_skills li {
    padding-left: 3vw;
    font-size: 1.5vw;
    margin-bottom: 2.5vh;
    font-family: sans-serif;
}

.popup_aboutme_skills li:nth-child(1) {
    font-size: 1.5vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
    margin-bottom: 2vw;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #999;
    padding-bottom: 1vh;
}

.popup_aboutme_skills li:nth-child(1) h2 span {
    color: yellowgreen;
    font-size: 3vw;
    margin-left: -2vw;
}

.popup_aboutme_skills li:nth-child(2) {
    background: url(images/html.png) left no-repeat;
    background-size: 4%;
}

.popup_aboutme_skills li:nth-child(3) {
    background: url(images/css.png) left no-repeat;
    background-size: 4%;
}

.popup_aboutme_skills li:nth-child(4) {
    background: url(images/javascript.png) left no-repeat;
    background-size: 4%;
}

.popup_aboutme_skills li:nth-child(5) {
    background: url(images/photoshop.png) left no-repeat;
    background-size: 4%;
}

.popup_aboutme_skills li:nth-child(6) {
    background: url(images/illustrator.png) left no-repeat;
    background-size: 4%;
}

.popup_aboutme_skills li:nth-child(7) {
    background: url(images/git.png) left no-repeat;
    background-size: 4%;
}
/*  */

.popup_contact {
    border: 20px solid orange;
    border-left: none;
    border-right: none;
}

.popup_contact h1 {
    color: orange;
}

.popup_contact_item {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 3vw;
}

.popup_contact_item li {
    display: flex;
    flex-direction: row;
    height: 7vh;
    line-height: 7vh;
    padding-left: 5vw;
}

.popup_contact_item li:nth-child(1) {
    background: url(images/call.png) left no-repeat;
    background-size: 8%;
}
.popup_contact_item li:nth-child(2) {
    background: url(images/mail.png) left no-repeat;
    background-size: 8%;
}
.popup_contact_item li:nth-child(3) {
    background: url(images/locate.png) left no-repeat;
    background-size: 8%;
}

.popup_contact_item li h5 {
    font-size: 1.5vw;
    font-family: '여기어때 잘난체 OTF',sans-serif;
    margin-right: 2vw;
}

.popup_contact_item li p {
    font-family: sans-serif;
    font-size: 1.3vw;
}

.popup_contact_mailbt {
    padding: 0.7vw 1.5vw;
    height: auto;
    font-size: 1vw;
    border: none;
    border-radius: 1000px;
    background-color: orange;
    color: #ffffff;
    float: right;
    cursor: pointer;
    margin-left: 2w;
    margin-right: 5vw;
}

.popup_contact_mailbt:active {
    background-color: #666;
}

.popup_contact_mailbt:focus {
    outline : none;
}


/* 모바일 */

@media screen and (max-width: 768px) {
     
    body,html {
        width: 100%;
        height: 100vh;
    }

    .title h1 {
        font-size: 16px;
    }


    .body_notice h4{
        font-size: 3vw;
    }

    .title_img {
        width: 50vw;
        height: 50vw;
    }

    .navi_box .big_box {
        width: 20vw;
        height: 20vw;
        line-height: 20vw;
        font-size: 3vw;
    }

    .navi_box .works {
        top: 42vw;
    }
    
    .tiny_box1 {
        left: 60vw;
        right: 0;
        top: 70vw;
    }
    
    .navi_box .aboutme {
        left: 0;
        left: -10vw;
        bottom: 55vw;
    }
    
    .tiny_box2 {
        left: 0;
        left: -30vw;
        top: 65vw;
    }
    
    .navi_box .contact {
        left: 0;
        right: -60vw;
        bottom: 55vw;
    }
    
    .tiny_box3 {
        left: 0;
        right: 0;
        bottom: 55vw;
    }

    /*  */

    .popup_wrap {
        height: 100vh;
    }

    .popup_works h1 {
        font-size: 20px;
    }

    .popup_image {
        width: 60vw;
        height: 40vw;
        float: none;
        display: block;
        margin: auto;
        margin-top: 4vh;
    }

    .popup_textbox {
        float: none;
        width: 60vw;
        display: block;
        margin: auto;
        margin-top: 3vh;
    }

    .popup_textbox h2 {
        font-size: 16px;
    }

    .popup_textbox a {
        float: right;
        width: auto;
        height: auto;
        padding: 1.5vw 2.5vw;
        font-size: 2.5vw;
        font-weight: 900;
        margin-top: -1.5vw;
    }

    .popup_textbox p {
        margin-top: 5vh;
        font-size: 3vw;   
    }

    .text_notice {
        height: auto;
        bottom: 25vw;
    }

    .text_notice h5 {
        font-size: 3vw;
    }

    .text_notice h6 {
        font-size: 3vw;
    }

    .popup_close {
        font-size: 3.5vw;
    }

    .popup_page {
        right: 5vw;
        width: 14vw;
        height: 20px;
        line-height: 20px;
    }

    .popup_page p {
        width: auto;
        line-height: auto;
        font-size: 3vw;
    }

    .popup_left_bt {
        font-size: 3vw;
    }

    .popup_right_bt {
        font-size: 3vw;
    }

    /*  */

    .popup_aboutme h1 {
        font-size: 20px;
    }

    .popup_aboutme_license li {
        display: block;
    }

    .popup_aboutme_license li h2 {
        font-size: 3.5vw;
    }

    .popup_aboutme_license li h5 {
        font-size: 3vw;
    }

    .popup_aboutme_license li p {
        font-size: 2vw;
        margin-top: 1vw;
    }

    .popup_aboutme_skills li {
        padding-left: 5vw;
    }

    .popup_aboutme_skills li h2 {
        font-size: 3.5vw;
    }

    .popup_aboutme_skills li:nth-child(2) {
        background-size: 10%;
        height: 7vw;
    }
    .popup_aboutme_skills li:nth-child(3) {
        background-size: 10%;
        height: 7vw;
    }
    .popup_aboutme_skills li:nth-child(4) {
        background-size: 10%;
        height: 7vw;
    }
    .popup_aboutme_skills li:nth-child(5) {
        background-size: 10%;
        height: 7vw;
    }
    .popup_aboutme_skills li:nth-child(6) {
        background-size: 10%;
        height: 7vw;
    }
    .popup_aboutme_skills li:nth-child(7) {
        background-size: 10%;
        height: 7vw;
    }

    .popup_aboutme_skills li h5 {
        font-size: 3vw;
    }

    /*  */

    .popup_contact h1 {
        font-size: 20px;
    }
    
    .popup_contact_item {
        width: 80vw;
        padding: 0 5vw;
        position: absolute;
        top: 0;
        bottom: 10vh;
        margin: auto;
    }

    .popup_contact_item li {
        padding-left: 20vw;
        display: block;
        line-height: 1.5;
    }

    .popup_contact_item li:nth-child(1) {
        background-size: 20%;
    }
    .popup_contact_item li:nth-child(2) {
        background-size: 20%;
    }
    .popup_contact_item li:nth-child(3) {
        background-size: 20%;
    }

    .popup_contact_item li h5 {
        font-size: 5vw;
    }
    .popup_contact_item li p {
        font-size: 4.5vw;
        margin-top: 1vh;
    }

    .popup_contact_mailbt {
        margin-top: -11vw;
        font-size: 3vw;
        padding: 1.5vw 2.5vw;
    }
}; 
